.container {
    width: 400px;
    background-color: aliceblue;
    margin-bottom: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;

    button {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        padding: 5px;
        margin: 5px;
        height: 30px;
        font-size: 10px;
    }
}