.container {
    width: 500px;
    outline: 2px solid #f0f0f0;
    // margin-top: 1px;
    margin-bottom: 20px;
    min-height: 150px;
    padding: 15px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;

    &:hover {
        background-color: #f0f0f091;
    }
}

.head {
    width: fit-content;

    a { 
        font-weight: bold; 
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }
}

div.close button {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    padding: 0;
    margin: 5px;
    height: 20px;
    font-size: 10px;
    background-color: white;
    color: black;
}

.link {
    padding-bottom: 5px;
    font-size: 1.2em;
}

.flex {
    flex-grow: 1;
}