.form {
    padding: 0 0 20px 0;
    // background-color: whitesmoke;
    font-size: 12px;
    align-self: flex-start;
    width: 500px;
    // outline: 1px solid lightgray;

    h1 {
        color: #0f2027;
    }

    button {
        width: 150px;
        margin-left: calc(100% - 150px);
    }
}