.container {
    display: flex;
    flex: 1 1 300px;
    justify-content: flex-end;
}

.nav {
    height: 100%;
    position: fixed;
    z-index: 1;
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    justify-content: space-between;
    font-size: 22px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    a {
        color: black;
    }
}

.bold {
    font-weight: bold;
}