.button {
    cursor: pointer;
    outline: 1px solid lightgray;
    border: none;
    border-radius: 30px;
    padding: 3px 10px;
}

.liked {
    background-color: rgb(255, 185, 209);

    svg {
        fill: red;
    }
}