.form {
    width: 300px;
    margin: 20vh auto 0 10vw;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;

    h1 {
        color: #0f2027;
        text-align: center;
    }
}