.container {
    outline: 2px solid #f0f0f0;
    padding: 15px;
    position: relative;
    border-radius: 4px;
    margin-bottom: 20px;
}

span {
    font-size: 0.9em;
}

div.close button {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    padding: 0;
    margin: 5px;
    height: 20px;
    font-size: 10px;
    background-color: white;
    color: black;
}