body {
    // background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    word-break: break-all;
}

.feed {
    display: flex;
    flex-direction: column;
}

.account {
    display: flex;
    flex-direction: column;

    // & > * {
    //     flex: 1 0 auto;
    // }
}
